<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="mailapp.entrypoints"
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            path="/mail"
            applicationId="rap1.mailapp"
            id="mailapp.entrypoint">
      </entrypoint>
      <entrypoint
            class="rap1.entypoint.Entrypoint1"
            id="rap1.entrypoint1"
            path="/test">
      </entrypoint>
   </extension>
   <extension
         id="rap1.mailapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="rap1.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="rap1.Perspective"
            id="rap1.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            name="Message"
            icon="icons/sample2.gif"
            class="rap1.View"
            id="rap1.view">
      </view>
      <view
            name="Mailboxes"
            icon="icons/sample3.gif"
            class="rap1.NavigationView"
            id="rap1.navigationView">
      </view>
      <view
            class="rap1.V"
            id="rap1.V"
            name="New ViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="rap1.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="rap1.category"
            id="rap1.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Opens a message dialog"
            categoryId="rap1.category"
            id="rap1.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="rap1.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="rap1.actions.SampleAction"
               icon="icons/sample.gif"
               id="rap1.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rap1.editors.MultiPageEditor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="rap1.editors.MultiPageEditor"
            name="Sample Multi-page Editor">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="rap1.mailapp"
            name="rap1">
      </product>
   </extension>

</plugin>
