<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="mypattern">
		<![CDATA[$${mylookup:aa} trace:%x map:[%X{id1}] [%X{CONSUMER_SEQ_NO}]  %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} -  %msg%n]]>
		</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="${mypattern}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>